    <%- includes('includes/head')%>
    <%- include('include/navBar')%>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-5">
          <h1 class="text-center">agenda</h1>
          <P class="text-center lead">seus contatos</P>
          <%- include('includes/messages') %>
          <% if(contatos.length > 0) {%>
          <div class="responsive-table">
            <table class="table my-3">
              <% contatos.forEach(contatos => { %>
              <tr>
                <td><%= contato.nome %></td>
                <td><%= contato.sobreNome %></td>
                <td><%= contato.telefone%></td>
                <td><%= contato.email%></td>
                <td><a href="/contato/index/<%contato._id%>">Editar</a> </td>
                <td><a class="text-danger" href="/contato/delete/<%contato._id%>">Deletar</a> </td>
              </tr>
              <%});%>
              
            </table>
          </div>
          <% }else{%>
            <p class="text-center lead"> não tem contatos cadastrados</p>
          <% }%>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <%- include ('includes') %>