    <%- includes('includes/head')%>
    <%- include('include/navBar')%>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-5">
          <h1 class="text-center">login</h1>
          <p class="text-center lead">Faça o login ou crie sua conta</p>
          <P class="text-center lead">seus contatos</P>
          <div class="row">
            <div class="col-lg">

            </div>
            <div class="col-lg">
              <h4>Entrar no Ssitema</h4>
              <form action="/login/register" method="POST">
                <input type="hidden" name="_crsf" value=<%= csrfToken%>>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Criar conta</button>
              </form>

            </div>
          </div>
            
        </div>
        <div class="col-lg-2">
          <form action="/login/login" method="POST">
            <input type="hidden" name="_crsf" value=<%= csrfToken%>>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar</button>
          </form>
        </div>
      </div>
    </div>
    <%- include ('includes') %>